 * {
  margin: 0;
  padding: 0;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 17px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #c0392b;
    transition: 2s;
}

.active {
    background-color: #ff0026;
}
.img{
    height: 555px;
    margin: 20px;
    margin-right: 50px;
    float: right;
}
.text{
 position: absolute;
 left: 40%;
 top: 45%;
 transform: translateX(-50%) translateY(-50%);
 
}
 h3,h3,h1{
 font-family: Pacifico, Calibri;

 }
 .link{
    text-decoration: none;
    color: #808080;
    font-family: Pacifico, Calibri;

 }
 .link:hover{
    color: #c0392b;
 }