 * {
  margin: 0;
  padding: 0;
  background: #000;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: right;
}
.title:hover{
    color: #ff0026;
    transition: 1s;
}
li a {
    display: block;
    color: white;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 17px 20px;
    text-decoration: none;
     font-family:  monospace;

}

li a:hover:not(.active) {
    color: #c0392b;
    transition: 2s;
}

.active {
    color: #ff0026;
}
.text{
 position: absolute;
 left: 40%;
 top: 45%;
 transform: translateX(-50%) translateY(-50%);
 color: #fff;
 font-family:  monospace;
 