 * {
  margin: 0;
  padding: 0;
 }

body {
 background-color: #000;
 }

 h1 {

 position: absolute;
 left: 50%;
 top: 40%;
 transform: translateX(-50%) translateY(-50%);
 text-align: center;
 font-family: Pacifico, Calibri;
 font-size: 70px;
 
 }
 h2{
 position: absolute;
 left: 50%;
 top: 70%;
 transform: translateX(-50%) translateY(-50%);
 text-align: center;
 font-family: Pacifico, Calibri;
 font-size: 40px;
 color: #420505;
 }
 
a{
  text-decoration: none;
  color: #ff0026;
}
a:hover{
  color: #fff;
  transition: 1s;
}